/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles personnalisés */
:root {
  --color-primary: #6B8E6B;
  --color-secondary: #A8C4A8;
  --color-accent: #8FBC8F;
  --color-neutral: #F5F5F0;
  --color-text: #2C3E2C;
  --color-text-light: #5A6B5A;
}

/* :root {
  --color-primary: #FFCDB2;
  --color-secondary: #FFCDB2;
  --color-accent: #FFB4A2;
  --color-neutral: #FFB4A2;
  --color-text: #B5828C;
  --color-text-light: #E5989B;
} */

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-neutral);
}

html {
  scroll-behavior: smooth;
}
