---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Profile from '../components/Profile.astro';
import Contact from '../components/Contact.astro';
import Header from '../components/Header.astro';
---
---
<Layout title="CloHypno - Hypnose Thérapeutique avec Clotilde">
  <Header />
  <main>
    <Hero />
    <About />
    <Services />
    <Profile />
    <Contact />
  </main>
</Layout>

